.PlayerBoardItem{
    -webkit-box-shadow: 3px 1px 6px 2px rgba(255,224,181,0.46); 
    box-shadow: 3px 1px 6px 2px rgba(7, 4, 1, 0.46);
    background-color: #73C373;
    margin-bottom: 20px;
    padding: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    min-width: 100px; 
    
}

.PlayerBoardItem img{
    /* -webkit-box-shadow: -1px 3px 15px 0px #00000042; 
    box-shadow: -1px 3px 15px 0px #000000a9; */
    border-radius: 20px;
    padding: 3px;
    border: 2px solid rgba(0, 0, 0, 0.561);
    /* background-color: rgba(255, 255, 255, 0.376); */
 }

 .PlayerBoardItem span {
     opacity: 65%;
 }

.PlayerBoardItem h2{
    margin-top: 10px;
    font-weight: lighter;
    /* color: white; */
    line-height: 80%;
    color: #000;
}

.PlayerBoardItem p{
    line-height: 50%;
    font-weight: regular;
    color: rgb(0, 0, 0);
}

/* .PlayerBoardContainer {
    
} */
